
	<!-- Filter -->
	<section class="filter">
		<div class="sort">
			<span>SORT BY</span>
			<input type="text" class="radio">
			<span class="sort__keyw">KEYWORDS</span>
			<input type="text" placeholder="Tablet" class="sort__keyInput">
		</div>
		<div class="price">
			<span>Price</span>
			<input type="number">
			<span> - </span>
			<input type="number">
			<span class="price__free">
					<div class="center">
	  					<label class="label">
	    					<input  class="label__checkbox" type="checkbox" />
	    					<span class="label__text">
	      					<span class="label__check">
	        					<i class="fa fa-check icon"></i>
	      					</span>
	    					</span>
	  					</label>
					</div>
				Free Shopping
			</span>
		</div>
		<div class="country">
			<span>SHIP TO</span>
			<input type="text">
		</div>
	</section>
	<!-- Content -->
	<section class="content">
		<div class="content-filter">a</div>
		<div class="content-inner">
		<div class="content-inner__add">
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo1.png"></div>
				<div class="content-cart__title">
					 Apple TV 32GB
				</div>
				<div class="content-cart__subtitle">
					<p>$49.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo2.png"></div>
				<div class="content-cart__title">
					 Pebble Time
				</div>
				<div class="content-cart__subtitle">
					<p>$29.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo3.png" style= "width: 250px;"></div>
				<div class="content-cart__title">
					 Apple TV 32GB
				</div>
				<div class="content-cart__subtitle">
					<p>$49.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
		</div>
		<div class="content-inner__add">
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo4.png"></div>
				<div class="content-cart__title">
					Withings Smart Body <br>
					Analyzer ws-50
				</div>
				<div class="content-cart__subtitle">
					<p>$39.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo5.png"></div>
				<div class="content-cart__title">
					Ollo Clip New
				</div>
				<div class="content-cart__subtitle">
					<p>$19.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
			<div class="content-cart">
				<div class="content-cart__img"><img class="content-cart__img--full" src="img/Photo6.png"></div>
				<div class="content-cart__title">
					Fitbit Charge HR Heart Rate <br>
					and Activity Tracker
				</div>
				<div class="content-cart__subtitle">
					<p>$19.99</p>&nbsp;<img src="./img/basket.svg" alt="Basket" class="content-cart__basket">
				</div>
			</div>
		</div>
		</div>
	</section>