.content {
	display: flex;
	width: 90%;
	box-sizing: border-box;
	margin: 0% 5%;
}
.content-filter {
	width: 25%;
	height: 500px;
	background-color: #fff;
	color: #000;
}
.content-inner {
	box-sizing: border-box;
	width: 75%;
	margin-left: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.content-inner__add {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}
.content-cart {
	background-color: #fff;
	width: 250px;
	height: 350px;
	margin: 0% 2%;
	box-sizing: border-box;
}

.content-cart:hover {
	transform: scale(1.1);
	box-sizing: border-box;
}
.content-cart__img{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center; 
	width: 250px;
	height: 250px;
}
.content-cart__title {
	padding-top: 10px;
	text-align: center;
}
.content-cart__subtitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
}
.content-cart__basket {
	width: 20px;
}