.filter {
	background-color: #fff;
	display: flex;
	margin: 3% 5%;
	height: 60px;
	align-items: center;
	justify-content: space-around;
	font-size: 14px;
	font-weight: 600;
}
.sort {
	display: flex;
	align-items: center;
}
.radio {
	border: none;
	color: rgba(0, 0, 0, .5);
	outline: none;
	width: 100px;
	margin-left: 8px;
	    border: 1px solid #E4E5E7;
    border-radius: 15px;
    background-color: #F0F2F7;
    padding: 8px;
}

.ship_to_input{
	border: none;
	color: rgba(0, 0, 0, .5);
	outline: none;
	width: 60px;
	margin-left: 8px;
	    border: 1px solid #E4E5E7;
    border-radius: 15px;
    background-color: #F0F2F7;
    padding: 8px;
}

.sort__keyw {
	margin: 0 10px;
	color: rgba(0, 0, 0, .5);
}

.sort__keyInput {
	border: 1px solid #E4E5E7;
	border-radius: 15px;
	background-color: #F0F2F7;
	color: rgba(0, 0, 0, .5);
	outline: none;
	width: 100px;
	margin: 0 20px 0 0;
	padding: 8px;
}

.price{
	display: flex;
    flex-direction: row;
    align-items: center;
}

.price input {
	border: 1px solid #E4E5E7;
	border-radius: 15px;
	background-color: #F0F2F7;
	color: rgba(0, 0, 0, .5);
	outline: none;
	width: 50px;
	padding: 5px;
}
.price__free {
	margin: 0 8px;
    display: flex;
    align-items: center;
}
.country span {
	margin-right: 10px;
}
.country input {
	border: none;
	color: rgba(0, 0, 0, .5);
	outline: none;
	width: 100px;
	margin-left: 30px;
}
