/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F9A464; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
