#sign-in {
	display: none;
	width: 15%;
	height: 25%;
	position: fixed;
	z-index: 91;
	right: 0%;
	top:9%;
	background-color: #F6A263;
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}
#sign-in__div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.up {
	width: 30px;
	height: 30px;
	position: fixed;
	top:90%;
	right:0.5%;
	background-color: #F6A263;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}