.carusel {
	display: none;
	width: 100%;
	height: 400px;
}
.carusel-inner1 {
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #ccc;
	color: #fff;
	z-index: 1;
	transition: .3s ease-out;
}
.carusel-inner2 {
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #000;
	color: #fff;
	z-index: 2;
	transition: 1s ease;
}
.carusel-inner__img1 {
	width: 100%;
}